@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f7f7f8;
}

.theme-1-navbar {
    position: sticky;
    top: 0;
    backdrop-filter: saturate(180%) blur(5px);
    background: hsla(0,0%,100%,.8);
}
